* {
  margin: 0;
}

body {
  font-family: sans-serif;
  margin: .5rem;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.row {
  display: flex;
  gap: .5rem;
  flex-wrap: wrap;
}

.row-right {
  justify-content: flex-end;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.stack-left {
  align-items: flex-start
}

input[type=number] {
  max-width: 8ch;
}

.task {
  border-radius: .5rem;
  border: 1px solid gray;
  padding: 1rem;
}

.task svg {
  border: 1px solid gray;
}

circle {
  fill: white;
  stroke: black;
}

circle.selected { 
  fill: lightgrey
}
